<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wordle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wordle.Properties.Settings>
            <setting name="Wins" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Played" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Streak" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Previous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Max" serializeAs="String">
                <value>17</value>
            </setting>
        </Wordle.Properties.Settings>
    </userSettings>
</configuration>